/* Variables CSS */
:root {
    --primary-color: #007BFF;
    --secondary-color: #E5E5E5;
    --text-color: #333;
  }
  
  /* Styles globaux */
  body {
    font-family: 'Inter', sans-serif;
    background-color: #F8F9FA;
    color: var(--text-color);
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
  }