<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
  <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
    <h2 class="m-0 text-primary"><i class="fa fa-dumbbell me-3"></i>InifinityGym</h2>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a routerLink="/home" class="nav-item nav-link active">Home</a>
      <a routerLink="/food-list" class="nav-item nav-link">Food</a>
      <a routerLink="/bmi-calculator" class="nav-item nav-link">bmi-calculator</a>
      <a routerLink="/classes" class="nav-item nav-link">Classes</a>
      <a routerLink="/products" class="nav-item nav-link">Products</a>

      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Programs</a>
        <div class="dropdown-menu fade-down m-0">
          <a routerLink="/trainers" class="dropdown-item">Our Trainers</a>
          <a routerLink="/success-stories" class="dropdown-item">Success Stories</a>
          <a routerLink="/membership" class="dropdown-item">Membership</a>
        </div>
      </div>
      <a href="/contact" class="nav-item nav-link">Contact</a>
    </div>
    <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
  </div>
</nav>
